global
    log 127.0.0.1 local0 info
    #chroot /var/lib/haproxy
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # The lines below enable multithreading. This should correlate to number of threads available you want to use.
    # nbproc 1
    nbthread 4
    cpu-map auto:1/1-4 0-3
    maxconn 20000

defaults
    log global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000


# 配置监控页面
listen monitor
    bind *:9095
    mode http
    option httplog
    stats enable
    stats uri /stats
    stats   refresh 3s
    #//统计页面自动刷新时间
    stats   uri /admin
    #//访问的uri  ip:8100/admin
    stats   realm haproxy
    stats   auth haproxyuser:pwd_QeERDZXCV098
    #//认证用户名和密码

    stats   admin if TRUE
    #//管理界面，如果认证成功了，可通过webui管理节点

listen answer-bot
    bind *:9099
    maxconn 60
    mode tcp
    #balance first
    option tcplog

    server ant-openai-relay-1 ant-openai-relay-1:8000 maxconn 20 check inter 1s rise 2 fall 3
    server ant-openai-relay-2 ant-openai-relay-2:8000 maxconn 20 check inter 1s rise 2 fall 3
    server ant-openai-relay-3 ant-openai-relay-3:8000 maxconn 20 check inter 1s rise 2 fall 3
    server 172.21.0.33 172.21.0.33:9000 maxconn 20 check inter 1s rise 2 fall 3
